body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background: radial-gradient(
    circle at 25% 50% , 
    rgb(231, 128, 128) 20%,
    rgb(172, 96, 153) 70%,
    rgba(90, 6, 79, 0.63) 100%
  );
}

h1 {
  color: #220707;
  height: 28px;
  line-height: 28.8px;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  color: #130303;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}
li :first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border: 4px solid #22201f2d;
  border-radius: 20px;
  padding: 25px;
  background-position: right;
  max-width: fit-content;
  margin: 0 auto
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(3, 3, 24);
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #130303;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.row {
  display: flex;
  flex-direction: row;
}