body {
  font-family: 'Kaushan Script', cursive;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/065/606/original/355e2feed25c57886c273e617b22f26c_original.png?1675433841");
  background-size: cover;
  background-repeat: no-repeat;
  }

h1 {
  color: rgb(7, 0, 0);
  height: 28px;
  line-height: 28.8px;
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  color: #070000d8;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}
li :first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border: transparent;
  border-radius: 10px;
  padding: 25px;
  background-position: right;
  max-width: fit-content;
  margin: 0 auto
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgba(8, 8, 250, 0.952);
  font-weight: 400;
  font-size: 40px;
  line-height: 0%;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -20px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}
.weather-forecast-date {
  font-size: 19px;
  opacity: 0.9;
}
.weather-forecast-temperature-min {
  opacity: 0.9;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.row {
  display: flex;
  flex-direction: row;
}
small {
  text-align: center;
  color: #fff;
}