body {
  font-family: 'Kaushan Script', cursive;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/065/776/original/IMG_20230204_190740.png?1675530626");
  background-size: cover;
  background-repeat: no-repeat;
  }

h1 {
  color: #E9B231;
  height: 28px;
  line-height: 28.8px;
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  color: #f8f1f1bb;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}
li :first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border: transparent;
  border-radius: 10px;
  padding: 25px;
  background-position: right;
  background:rgba(0, 0, 0, 0.301);;
  max-width: fit-content;
  margin: 0 auto
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(176, 241, 22);
  font-weight: 400;
  font-size: 40px;
  line-height: 0%;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  color: rgb(43, 189, 226);
  top: -20px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}
.weather-forecast-date {
  font-size: 19px;
  opacity: 0.9;
}
.weather-forecast-temperature-min {
  opacity: 0.9;
}
.weather-forecast-temperatures {
  font-size: 12px; 
}
  .row {
  display: flex;
  flex-direction: row;
}
small {
  text-align: center;
  color: #fff;
}